Doctype
html
head
    title Registration page
body
    h1#myHeading New User Account Creation
    form(action="/register" method="POST")
        div
            label(for="username") Username:
            input#username(type="text" name="username" required)
        
        div
            label(for="email") Email:
            input#email(type="email" name="email" required)

        div
            label(for="password") Password:
            input#password(type="password" name="password" required)

        div
            button(type="submit") Register
            button(type="reset") Cancel