Doctype
html 
    head 
        title Welcome 
    body 
        h1 Welcome to Yatri.com 
        p One stop for all your travelling needs 
        form(action="/register" method="GET")
            button New User
            button Sign In